# folders
src/
scripts/
out/test/
docs/
assets/
.github/
.vscode
.vscode-test
.git/

# filetypes
**/*.map
**/*.ts
**/*.vsix
**/*.log

# files
tsconfig.json
package.json
.yarnrc
yarn.lock
.gitignore
.eslintrc.json
yarn-error.log


