# folders
src/
out/test/
scripts
node_modules
docs
assets

.github
.vscode
.vscode-test
.git

# filetypes
**/*.map
**/*.ts
**/*.vsix
**/*.log

# files
tsconfig.json
package.json
eslint.config.mjs
yarn.lock
yarn-error.log
.yarnrc
.gitignore


