# folders
src/
out/test/
scripts/
docs/
assets/
.git/
.github/
.vscode/
.vscode-test/
.yarn/

# filetypes
**/*.map
#**/*.ts
#**/*.vsix
#**/*.log

# files
tsconfig.json
package.json
eslint.config.mjs
.gitignore
.yarnrc
yarn.lock
yarn-error.log
ROADMAP.md
